<div class="modal-header">
	Reservas em {{hotel.name}}
</div>
<div class="modal-body">
	<div class="row" ng-repeat="booking in bookings">
		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Entrada</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{booking.begin | date : 'yyyy-MM-dd'}}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Saída</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{booking.end | date : 'yyyy-MM-dd'}}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Cliente</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{booking.user.name}}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Nº Pessoas</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{booking.persons}}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Tipo Quarto</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{booking.roomtype.name}}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Comentários</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{booking.comment}}</p>
		    </div>
		  </div>
		</form>
		<div class="col-sm-12">
			<div class="col-sm-offset-2 col-sm-8">
				<button class="btn btn-info pull-right no-outline" ng-click="accept(booking, 'accepted')">Aceitar</button>
				<button class="btn btn-danger pull-left no-outline" ng-click="accept(booking, 'rejected')">Rejeitar</button>
			</div>
		</div>
		<div class="col-sm-12 group-separator"></div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn pull-left no-outline" ng-click="back()">Voltar</button>
</div>