<div class="col-md-8 col-md-offset-2 col-xs-12 no-padding">

	<div class="col-xs-12 no-padding no-margin margin-bottom-15">
		<div class="col-sm-offset-2 col-sm-8 no-padding">
			<button class="btn btn-success pull-left no-outline" ng-click="showBookings()">Minhas Reservas</button>
			<button class="btn btn-success pull-right no-outline" ng-click="search()">Pesquisar</button>
		</div>
	</div>

	<div class="col-xs-12 no-padding" ng-show="showbookings">
		<h1 class="no-margin">As Minhas Reservas</h1>
		<div class="col-xs-12 margin-top-15 margin-bottom-15 no-padding">
			<ul class="list-group no-margin">
				<li class="list-group-item col-xs-12" ng-repeat="booking in bookings">
					De: {{booking.begin | date : 'yyyy-MM-dd'}} até {{booking.end | date : 'yyyy-MM-dd'}}<br>
					Pessoas: {{booking.persons}}<br>
					Hotel: <a ng-href="#/hotels/details/{{booking.hotel.id}}">{{booking.hotel.name}}</a><br>
					Quarto: {{booking.roomtype.name}}, {{booking.hotelroom.features}}<br>
					Preço: {{booking.price}}<br>
					Reservado em: {{booking.created | date : 'yyyy-MM-dd'}}<br>
					Estado da reserva: {{booking.status}}<br>
					<button ng-if="booking.canCancel" class="btn btn-danger" ng-click="cancelBooking(booking)">Cancelar</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 no-padding" ng-show="showsearch">
		<h1 class="col-xs-12 no-padding no-margin">Pesquisar Hotel</h1>
		<div class="col-xs-12 no-padding margin-top-15 margin-bottom-15">
			<div class="col-xs-5 no-padding">
				<label for="entry" class="col-xs-12 no-padding">Entrada</label>
				<input id="entry" type="text" class="form-control" is-open="openedDateEntry" datepicker-popup="{{format}}" ng-model="entryDate" datepicker-options="dateOptions" starting-day="1" show-button-bar="false" show-weeks="false" min-date="today" max-date="exitDate" ng-click="openDateEntry($event)" />
			</div>
			<div class="col-xs-offset-2 col-xs-5 no-padding">
				<label for="exit" class="col-xs-12 no-padding">Saida</label>
				<input id="exit" type="text" class="form-control" is-open="openedDateExit" datepicker-popup="{{format}}" ng-model="exitDate" datepicker-options="dateOptions" starting-day="1" show-button-bar="false" show-weeks="false" min-date="entryDate" ng-click="openDateExit($event)" />
			</div>
		</div>
		<div class="col-xs-12 no-padding margin-bottom-15">
			<button class="btn btn-primary pull-right no-outline" ng-click="pesquisar()">Pesquisar</button>
		</div>
		<div class="col-xs-12 no-padding">
			<div class="panel-body" ng-repeat="hotel in result">
				<div class="col-sm-4 no-padding">{{hotel.name}}</div>
				<div class="col-sm-offset-1 col-sm-7 no-padding">
					<div class="col-xs-12 no-padding" ng-repeat="room in hotel.rooms">
						{{room.roomType.name}} {{room.price | number:2}} € <button class="btn btn-success pull-right" ng-click="reservar(room)">Reservar</button>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>