<div class="col-md-8 col-md-offset-2">
	<h1 class="no-margin">{{action}}</h1>
	
	<p class="margin-top-15"><b>Nome:</b> <input type="text" class="form-control" placeholder="Insira o nome do hotel"  ng-model="hotel.name" /></p>

	<div>
		<b>Quartos</b>
		<ul class="list-group no-margin">
			<li class="list-group-item col-xs-12" ng-repeat="room in rooms">
				<span class="col-xs-12 no-padding">
					Tipo: <b>{{room.name}}</b>
				</span>
				<span class="col-xs-1 no-padding padding-right-15">
					Qtd:
				</span>
				<span class="col-xs-1 no-padding padding-right-15">
					<input class="form-control" ng-model="room.quantity"/>
				</span>
				<span class="col-xs-1 no-padding padding-right-15">
					Preço: 
				</span>
				<span class="col-xs-1 no-padding padding-right-15">
					<input class="form-control" ng-model="room.price"/>
				</span>
				<span class="col-xs-2 no-padding padding-right-15">
					Caracteristicas:
				</span>
				<span class="col-xs-6 no-padding">
					<input class="form-control" ng-model="room.features"/>
				</span>
			 </li>
		</ul>
		<a class="btn btn-default pull-left no-outline margin-top-15" ng-if="hotel.id != undefined" ng-click="setNewRoom()">Novo grupo de quartos</a>
		<div class="col-xs-12 no-padding margin-bottom-15" ng-if="setnewroom">
			<span class="col-xs-4 no-padding padding-right-15">
				Tipo:
				<select class="form-control" ng-model="newRoom.roomtypeid" ng-options="type.id as type.name for type in roomtypes">
					<option value="" disabled selected hidden>Seleccione um tipo</option>
				</select>
			</span>
			<span class="col-xs-4 no-padding padding-right-15">
				Qtd: <input class="form-control" type="number" ng-model="newRoom.quantity"/>
			</span>
			<span class="col-xs-4 no-padding">
				Preço: <input class="form-control col-sm-6" type="number" ng-model="newRoom.price"/>
			</span>
			<span class="col-xs-12 no-padding margin-bottom-15">
				Características: <textarea class="form-control col-sm-6 no-overflow" ng-model="newRoom.features"></textarea>
			</span>
			<a class="btn btn-default pull-right no-outline" ng-click="saveNewRoom()">Guardar</a>
		</div>
	</div>
	<a ng-if="!setnewroom" class="btn btn-primary pull-right no-outline margin-bottom-15 margin-top-15" ng-click="save()">Guardar</a>
</div>