<div class="col-md-6 col-md-offset-3 col-xs-12 no-padding">
	<h1 class="no-margin">Lista de hoteis</h1>
	
	<ul class="list-group no-margin margin-top-15">
		<li ng-repeat="hotel in hotels" class="list-group-item" ng-click="goTo(hotel.id)">
			{{hotel.id}} - {{hotel.name}}
		</li>
	</ul>
	
	<a class="btn btn-primary pull-right no-outline margin-top-15 margin-bottom-15" ng-href="#/hotels/new">Novo Hotel</a>
</div>