<div class="col-md-6 col-md-offset-3 col-xs-12 no-padding">
	<h1 class="no-margin">Resultados da pesquisa</h1>
	
	<ul class="list-group no-margin margin-top-15 margin-bottom-15">
		<li ng-repeat="hotel in hotels | filter:{name: searchText}" class="list-group-item" ng-click="goTo(hotel.id)">
			{{hotel.name}}
		</li>
	</ul>
</div>