<footer class="footer">
  <div class="container">
    <p class="text-muted"><strong>AUTHORS</strong></p>
    <ul>
    	<li>António Matias</li>
    	<li>Carlos Júlio</li>
    	<li>Nuno Ribeiro</li>
    </ul>
  </div>
</footer>