<div ng-controller="headerController" class="header-container">
	<h1 class="bold">CIAI 2015</h1>
	<h2 class="bold">Hotel Management</h2>
	<div class="header-background">
	</div>
	
	<nav class="navbar navbar-default no-border-radius">
		<div class="container-fluid">
		    <div class="navbar-header">
				<a class="navbar-brand" href="#/">Inicio</a>
		    </div>
	
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a ng-if="authentication.isAuth" ng-href="{{dashboardUrl}}">Dashboard</a></li>
					<li><a ng-href="#/hotels">Ver hoteis</a></li>
					<li><a ng-if="!authentication.isAuth" ng-href="#/login">Entrar</a></li>
					<li><a ng-if="!authentication.isAuth" ng-href="#/registration">Registar</a></li>
					<li><a ng-if="authentication.isAuth" href="" ng-click="logout()">Sair</a></li>
				</ul>

				<p ng-if="!authentication.isAuth" class="navbar-text navbar-right">Utilizador não autenticado</p>
				<p ng-if="authentication.isAuth" class="navbar-text navbar-right">Autenticado como <b class="navbar-link">{{authentication.user.name}}</b></p>

				<form class="navbar-form navbar-right" role="search">
					<input type="text" class="form-control" placeholder="Procurar hoteis" ng-model="searchText" />
					<input type="submit" class="btn btn-default no-outline" value="Submeter" ng-click="search()" />
				</form>
			</div>
	  	</div>
	</nav>
</div>