<div class="col-md-8 col-md-offset-2">
  	<p ng-if="!authentication.isAuth">Utilizador não autenticado.</p>
	<p ng-if="authentication.isAuth">Olá <a ng-href="{{dashboardUrl}}">{{authentication.user.name}}</a>! Tens o perfil {{authentication.user.role}}</p>
	<p><strong>AUTHORS</strong></p>
	<span ng-repeat="author in authors">{{author}}<br /></span>
</div>