<div class="col-md-6 col-md-offset-3 col-xs-12 no-padding">
	<form class="col-xs-12 no-padding">
		<label for="username">Username:</label>
		<input id="username" type="text" class="form-control" placeholder="Insira o seu username" ng-model="user.username" required />
		
		<label for="password" class="margin-top-15">Password:</label>
		<input id="password" type="password" class="form-control" placeholder="Insira a sua password" ng-model="user.password" required />
		
		<div id="error" class="alert alert-danger no-margin margin-top-15" ng-if="message">
			<a ng-click="close()" class="close no-outline">&times;</a>
			<span>{{message}}</span>
		</div>
		
		<input type="submit" class="btn btn-primary pull-right no-outline margin-top-15" ng-click="login()" value="Entrar" />
		<a class="btn btn-success pull-right no-outline margin-15" ng-href="#/registration">Registar</a>
	</form>
</div>