<div class="col-md-6 col-md-offset-3 col-xs-12 no-padding">
	<form class="col-xs-12 no-padding">
		<label for="name">Nome:</label>
		<input id="name" type="text" class="form-control" placeholder="Insira o seu nome" ng-model="newUser.name" required />
		
		<label for="username" class="margin-top-15">Username:</label>
		<input id="username" type="text" class="form-control" placeholder="Insira um username" ng-model="newUser.username" required />
		
		<label for="password" class="margin-top-15">Password:</label>
		<input id="password" type="password" class="form-control" placeholder="Insira uma password" ng-model="newUser.password" required />
		
		<label for="role" class="margin-top-15">Perfil:</label> 
		<select id="role" class="form-control" ng-model="newUser.role">
			<option value="" disabled selected hidden>Seleccione um perfil</option>
			<option ng-repeat="role in roles" value="{{role.name}}">{{role.name}}</option>
		</select>
		
		<div id="error" class="alert alert-danger no-margin margin-top-15" ng-if="message">
			<a ng-click="close()" class="close no-outline">&times;</a>
			<span>{{message}}</span>
		</div>
		
		<input type="submit" class="btn btn-primary pull-right no-outline margin-top-15 margin-bottom-15" ng-click="save()" value="Registar" />
	</form>
</div>