<div class="col-md-8 col-md-offset-2">
	<h1 class="no-margin">Dashboard do moderador {{authentication.user.name}}</h1>
	
	<div class="margin-top-15">
		<p>Existem {{waitingList.length}} comentários por aprovar</p>
		<a ng-if="waitingList.length > 0" ng-click="toggleShowWaiting()">
			<span class="btn btn-primary no-outline margin-bottom-15" ng-show="!showwaiting">Mostrar</span>
			<span class="btn btn-primary no-outline margin-bottom-15" ng-show="showwaiting">Esconder</span>
		</a>
		<div ng-if="showwaiting">
			<ul class="list-group no-margin">
				<li class="list-group-item col-xs-12" ng-repeat="comment in waitingList | orderBy:'created'">
					<span class="col-xs-7 no-padding"><b>Criado em {{comment.created | date:'yyyy-MM-dd hh:mm'}}
					por {{comment.user.name}}:</b><br /> {{comment.comment}}</span>
					<a class="btn btn-danger pull-right no-outline" ng-click="saveComment(comment,'rejected')">Rejeitar</a>
					<a class="btn btn-info pull-right no-outline margin-right-15" ng-click="saveComment(comment,'accepted')">Aceitar</a>
				</li>
			</ul>
		</div>
	</div>
</div>