<div class="col-md-8 col-md-offset-2">
	<h1 class="no-margin">Hoteis de {{owner.name}}</h1>
	<div class="row">
		<div class="margin-top-15">
			<b>Lista de Hoteis</b>
			<ul class="list-group no-margin">
				<li class="list-group-item col-xs-12" ng-repeat="hotel in hotels">
					<b class="col-xs-5 padding-top-7" ng-click="goTo(hotel.id)">{{hotel.name}}</b>
					<a ng-if="hotel.waitingbookings.length > 0">Existem <span ng-click="showWaitingBookings(hotel)">{{hotel.waitingbookings.length}} reservas</span> por confirmar</a>
					<a class="btn btn-danger pull-right no-outline" ng-click="remove(hotel.id)">Remover</a>
					<a class="btn btn-info pull-right no-outline margin-right-15" ng-click="edit(hotel.id)">Editar</a>
				</li>
			</ul>
			<a class="btn btn-primary pull-right no-outline margin-bottom-15 margin-top-15" ng-href="#/hotels/new">Adicionar Hotel</a>
		</div>
	</div>
	<div class="row margin-top-15">
		<h2>OCUPAÇÃO</h2>
		<div class="col-sm-3">
			<label>Hotel</label>
			<select class="form-control" ng-model="hotelid" ng-options="hotel.id as hotel.name for hotel in hotels"></select>
		</div>
		<div class="col-sm-3">
			<label>Inicio</label>
			<input type="text" class="form-control" is-open="openedDateEntry" datepicker-popup="{{format}}" ng-model="entryDate" datepicker-options="dateOptions" starting-day="1" show-button-bar="false" show-weeks="false" max-date="exitDate" ng-click="openDateEntry($event)" />
		</div>
		<div class="col-sm-3">
			<label>Fim</label>
			<input type="text" class="form-control" is-open="openedDateExit" datepicker-popup="{{format}}" ng-model="exitDate" datepicker-options="dateOptions" starting-day="1" show-button-bar="false" show-weeks="false" min-date="entryDate" ng-click="openDateExit($event)" />
		</div>
		<div class="col-sm-3">
			<button class="btn btn-success" ng-click="seeOccupancy()">Pesquisar</button>
		</div>
	</div>
	<div class="row margin-top-25" ng-show="days != undefined">
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th></th>
						<th ng-repeat="rooms in days[0]">{{rooms.roomType.name}} (Qtd:{{rooms.quantity}})</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="rooms in days">
						<td>{{rooms.date | date:'yyyy-MM-dd'}}</td>
						<td ng-repeat="room in rooms" ng-class="room.available > 0 ? 'red' : 'green'">{{room.available}} <span ng-if="room.available == 1">vaga</span><span ng-if="room.available != 1">vagas</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>