body
{
    background-color: #CCCCCC;
	  /* Margin bottom by footer height */
	  margin-bottom: 60px;
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
    font-size: 72%;
}
.footer ul li {
    display: inline-block;
    margin: 0 13px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.footer.container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}*/

div#main {
    margin-bottom: 30px;
}

li
{
	cursor: pointer;
}

h1, h2
{
    text-shadow: 2px 2px #CCCCCC;
}

h1.bold {
    position: absolute;
    top: 45px;
    left: 20%;
    z-index: 9;
}

h2.bold {
    position: absolute;
    top: 104px;
    left: 20%;
    z-index: 9;
}

.no-overflow
{
	max-width: 100%;
}

.bold
{
	font-weight: bold;
}

.no-outline
{
	outline: none !important;
}
.header-container {
    background-color: #8DC0FF;
    width: 100%;
    height: 287px;
    padding-top: 235px;
}
.header-background
{
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
	padding: 45px 0 68px 60px;
	left: -25%;
	width: 1365px;
	position: absolute;
	top: 0;
	width: 1365px;
	left: 50%;
	margin-left: -683px;
	height: 235px;
}

.no-border-radius
{
	border-radius: 0px !important;
}

.group-separator{
	border-bottom: 1px solid #e5e5e5;
	margin: 5px 0px;
}

/*********************************/
/*      BACKGROUND-Classes       */
/*********************************/

.background-blue
{
	background-color: #007cb7;
}

/*********************************/
/*        PADDING-Classes        */
/*********************************/

.no-padding
{
	padding: 0px !important;
}

.padding-left-15
{
	padding-left: 15px !important;
}

.padding-right-15
{
	padding-right: 15px !important;
}

.padding-top-15
{
	padding-top: 15px !important;
}

.padding-bottom-15
{
	padding-bottom: 15px !important;
}

.padding-top-7
{
	padding-top: 7px !important;
}

/*********************************/
/*        MARGIN-Classes         */
/*********************************/

.no-margin
{
	margin: 0px !important;
}

.margin-15
{
	margin: 15px !important;
}

.margin-left-15
{
	margin-left: 15px !important;
}

.margin-right-15
{
	margin-right: 15px !important;
}

.margin-top-15
{
	margin-top: 15px !important;
}

.margin-bottom-15
{
	margin-bottom: 15px !important;
}

.margin-vert-20
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.panel-body{
    background-color: #e7e7e7;
    margin-top: 25px;
    border-radius: 25px;
    padding: 25px;
}
.panel-body .panel-highlight{
	background-color: #ddd !important;
	margin-bottom: 25px;
}
.panel-body .row{
	margin-bottom: 15px;
}
.oddRow{
	border-radius: 10px !important;
	background-color: #f2f2f2 !important;
}
.evenRow{
	border-radius: 10px !important;
	background-color: #d9d9d9 !important;
}
.threadName{
	color: black;
	font-weight: bold;
}
.threadName myComment{
	color: blue;
}
.threadDate{
	color: #797979;
	font-style: italic;
	font-size: 10px;
}
.commentText{
	background-color: white !important;
	padding: 10px;
	border-radius: 5px;
}
.red{
	color:red;
	font-weight: bold;
}
.green{
	color: green;
}