<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello AngularJS</title>
<!-- <link href="css/angular-bootstrap.css" rel="stylesheet"> -->
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
</style>
</head>

<body ng-app="ciaiApp">
  <!-- <div class="container">
    <h1>Greeting</h1>
    <div ng-controller="homeController" ng-cloak class="ng-cloak">
      <p>The ID is {{id}}</p>
      <p>The content is {{greeting.content}}</p>
    </div>
  </div> -->
  <div id="main" ng-view></div>
  
  
  
  <script src="scripts/angular.min.js" type="text/javascript"></script>
  <script src="scripts/angular-route.min.js" type="text/javascript"></script>
  
  
  <script src="js/app.js" type="text/javascript"></script>
  <script src="js/routes.js" type="text/javascript"></script>
</body>
</html>